/*body styling*/
body{
    background-image:url("../images/round.png");
}
#about{
    margin-bottom: 100px;
}
#portfoliobody{
    margin-bottom:100px;
}
#hangman{
    position:relative;
}
#rpg{
    position:relative;
}
#trivia{
    position:relative;
}
#rutgers{
    position:relative;
}
#rock{
    position:relative;
}
.caption {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    top: 75%;
    left: 7%;
    width: 94.5%;
    height: 20%;
    text-align: center;
}


/*formating for the footer*/
footer{
    bottom:0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color:#666666;
    color: #777777;
    padding:20px;
    border-top: 10px solid #4aaaa5;
    /*Margin top to make portfolio spaced away*/
    
}

/*shading over Grant Posell in the header;
change alignment of navbar elements*/

